.album {
    max-width: 100%;
    max-height: 100%;
    height: 215.78px;
}

.col-4 {
    border: 1px solid #a11619;
    text-align: center;
    margin-top: 20px; 
    background: url(../img/pozadina.png);
}

.col-4:hover {
    border: 2px solid black;
    background: white;
    cursor: pointer;
    color: #a11619;
    font-weight: bold;
}


@media only screen and (max-width: 500px) {
    .col-3 {
        margin-left: 15px;
    }
}


    
#mapa {
    width: 100% !important;
    border: 1px solid #a11619 !important;
    border-radius: 20px !important;
}
h1 {
text-align:center;
color:#a11619 ;
font-weight:bold;
font-size:30px;
margin-bottom:0px;
margin-top:20px;
letter-spacing:2px;
}

.gallery img:hover {
    filter: grayscale(70%);
    
    transform: scale(1.05);
}
.gallery img{
    height:90%;
    width: 90%;
    
}

#mapa {
width: 100% !important;
border: 1px solid #a11619 !important;
border-radius: 20px !important;
}
h1 {
text-align:center;
color:#a11619 ;
font-weight:bold;
font-size:30px;
margin-bottom:0px;
margin-top:20px;
letter-spacing:2px;
}
col-3 img{max-width: 100%;max-height: 100%;}