* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   scroll-behavior: smooth;
}


.row:after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  html {
    font-family: 'Courier New', Courier, monospace;
  }
  header{
      margin: 0;
      padding: 0;
      height: 230px;
      background: url(../img/pozadina.png);
  }
 hr{
    background-color: #a11619 ;
     height: 10px;
     margin: 0;
 }

.icons {
  margin-left: 20px;
  display: block;
  padding: 0px;
}  
  

  #logo {
    max-width: 250px;
    max-height: 250px;
    margin-left: 50px;
    padding: 20px;
    float: left;
  }
  #logo:hover{
    opacity: 70%;
    color: black;
   
  }
nav {
    display: inline;

}
  .menu {
      display: inline-block;
      list-style: none;
      margin-left: 30px;
      margin-top: 150px;
    
  }
  .menu li {
      display: inline-block;
  }
  .menu li a {
      text-decoration: none;
      padding: 20px;
      color: #a11619;
      font-size: 20px;
      font-weight: bold;
  }
  .menu li a:hover {
      color:black;
      opacity: 60%;
      transition: ease-in-out 0.2s;
     
  }

  .fab  {
      font-size: 25px;
      
  }
  .fab:hover{
      opacity: 50%;
  }
  .fas {
      font-size: 25px;
  }
  .fas:hover{
      opacity: 50%;
  }
 
  

  .icons a {
      padding: 20px !important;
      padding: 0;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #a11619;
    margin: 6px 0;
    transition: 0.4s;
  
  
   
  }
  .container {
    display: none;
    
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  #centar {
    margin-left: 10%;
    margin-right: 10%;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .icons a {
    padding: 0 !important;
    
  }
  
 footer {
  background: url(../img/pozadina.png) ;
  
  background-size: cover;
  margin-top: 20px;
  max-height: fit-content;
  text-align: center;
 }
 footer img {
   max-height: 200px;
   max-width: 200px;
   margin-left:auto;
   margin-right: auto;
   padding: 20px;
   
  
 }
 #pokrovitelji {
   text-align: center;
 }
 @media only screen and (max-width: 320px) {
   #dugme_2 {
     margin-left: 0px;
   }
  
  
 }

  @media only screen and (max-width: 1280px) {
    .navbar ul:not(:first-child) {
      display: none;
    }
    [class*="col-"] {
      width: 100%;
      
     
    }
    .dugme {
      margin-left: 50px;
      margin-top: 15px;
    }
    #dugme_2 {
      margin-left: 10px;
    }
    .prvi_div {
      margin-left: 0 !important;
      padding: 0 !important;
    }
    .prvi_div img {
      margin: auto !important;
    }
   
    .navbar .responsive {
      display: inline-block;
      transition: ease-in ;
      
    }
 
     body {
      overflow-x: hidden;
    } 
    .menu {
      position: absolute;
      right: 0px;
      top: 90px;
      z-index: 10;
      
      background: url(../img/pozadina.png);
      background-repeat: repeat;
      width: 60% ;
      height: 100vh;
      text-align: center;
       
       /* transform: translateX(100%);
      transition:  10s ease-in;  */
      
    }
    .menu li {
      opacity: 0 ;
     
   
    }
    .menu li a {
      font-size: 25px;
      
    }
   
   
  
 
    .menu li {
      display: block;
      padding: 10px;
      
    }
   
    .container{
      display: block;
      float: right;
      margin-right: 30px;
      position: relative;
      top: 150px;


    }

    #informacije{
      padding: 25px !important;
    }
    
    .menu2 li{
      display: block !important;
      padding: 10px !important;
    }
    .menu2 .icons {
      display: inline-block !important;
      margin: 0;
      padding: 0 !important;
    }

    #logo {
      margin-left: 10px;
    }
  }
  


  .nav-active {
    transform: translateX(0%);
  }

  #centar {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }


  .mySlides {display: none; }
.mySlides img {vertical-align: middle; max-width: 1100px; max-height: 500px; }

/* Slideshow container */
.slideshow-container {
  border: solid 2px #a11619;
  border-radius: 8px;
  margin-top: 20px !important;
  max-width: 1100px;
  max-height: 600px;
  overflow: hidden;
  position: relative;
  margin: auto;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%; 
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

  @keyframes menuFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes menuSlow {
    from{
      transform: translateX(100%);
    }
    to{
      transform: translateX(0%);
      transition: 0.5s ease;
    }
    

  }

  .start {
    opacity: 0;
  }

  .prvi_div {
    background: url(../img/pozadina.png);
    max-height: 1500px;
    display: inline-block;
    margin-top: 60px;
  
    /* border: 10px solid transparent; */
    border-radius: 20px;    
    border: solid 2px #a11619;
    /* border-image: url(../img/vez.png) 30% round; */
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    
  }
  .prvi_div:hover {
    /* background:  #a11619; */
    background: rgba(161, 22, 25,0.7);
    color: white;
    transition: ease-in-out 0.5s;
  }

  .prvi_div img {
    margin: auto;
    
    max-height: 600px;
    max-width: 300px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 40px;
    
  }
 
  .prva_kartica article {
   padding: 20px;
   display: inline-block;
   margin-left: 10px;
   text-align: justify;
  
  }
  .prva_kartica article h2 {
    text-align: center;
  }
  .dugme {
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #a11619;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #a11619;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
  }
  .dugme:hover {
    transform: translateY(-7px);
    background-color: #fff;
    color: #a11619;;
  }


  .menu2 {
    list-style: none;
    margin-left: auto;
    margin-top: 20px;
    display: inline-block;
    
    
  }
  .menu2 li {
    padding: 20px;
    display: inline;
    margin: 10px;
  }
  .menu2 li a {
    text-decoration: none;
    font-size: 20px;
    color:  #a11619;
    font-weight: bold;
    margin: 20px;
    
  }
  .menu2 .icons {
   font-size:30px ;
  }
  #informacije {
    text-align: justify;
  }
 

  footer h2 {
    
    
    border-radius: 10px;


    padding: 5px;
    border: 3px solid white;
    margin-left: auto;
    margin-right: auto;
    background-color: #a11619;
    color: white;
  }

  @keyframes animacija {
    from{
      transform: translateY(-100%);
      opacity: 0;
      /* display: none; */
      
     
    }
    to{
      transform: translateY(0%);
      opacity: 1;
       /* display: block; */
      
      
    }
  };
  @keyframes animacija2 {
    from{
      height: 0px;
      
      
     
    }
    to{
      height: 1136px ;
    
      
      
    }
  };

 

footer h2 {
    padding: 5px;
    border: 3px solid white;
    margin-left: auto;
    margin-right: auto;
    background-color: #a11619;
    color: white;
}

footer img:hover {
    transform: scale(20px);
}

#informacije {
    font-weight: bold;
    font-size: larger;
    color: #a11619;
    background-color: white;
    padding: 0;
    border: 1px solid #a11619;
    border-radius: 20px;
    margin: 0;
    text-align: justify !important;
    padding: 100px;

}

@media only screen and (max-width: 900px) {
  .prva_kartica article  {
    text-align: center;
  }
  .dugme {
    margin-left: 0;
  }

}



#autor {
  text-decoration: none;
  color: black;
}
#autor:hover {
  color: #a11619;
}

@media only screen and (max-width: 354px) {
 
 
  #logo {
    padding: 0 !important;
    margin: 0;
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
     
  }
  .container {
    margin-right: 10px;
  }
  #informacije {
    padding: 10px !important;
    font-size: 17px;
  }
.prva_kartica {
  padding: 0 !important;
  margin: 0 !important;
}
[class*="col-"] {
  padding: 0;
  
 
}
.prvi_div {
 
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding: 0 !important;
}
article {
  padding: 0;
}


}
@media only screen and (max-width: 430px) {
  #informacije {
    padding: 15px !important;
  }
  h7 {
    font-size: 17px;
  }

}

.prvi_div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
#autor {
 text-decoration: none;
 color: black;
}
#autor:hover {
 color: #a11619;
}
#mapa {
width: 100% !important;
border: 1px solid #a11619 !important;
border-radius: 20px !important;
padding: 0;
}

.slider-img {
  width:100%;
}
 .fa-trophy {
   color: gold;
 }

 #sfasFoto {
  max-width: 100%; 
  max-height: 100%;
   margin-top: 50px;
 }

 .konj{
  text-align: center;
 }